<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean id="rcServiceScheduleJob"
        class="xixi.rc.service.jobs.RCServiceScheduledJob" lazy-init="true" init-method="start">
       <property name="hbService" ref="hbService"/>
        <property name="statService" ref="statService"/>
    </bean>
    
    <bean id="hbService" factory-bean="proxyFactory" factory-method="createProxy" lazy-init="true">
       <constructor-arg value="xixi.rc.iservice.RCHeartBeatService" />
    </bean>
    
    <bean id="statService" factory-bean="proxyFactory" factory-method="createProxy" lazy-init="true">
       <constructor-arg value="xixi.rc.iservice.RCStatService" />
    </bean>
    
    <bean id="rcNotifyService"
        class="xixi.rc.service.RCNotifyServiceImpl" lazy-init="true">
       <property name="repository" ref="moduleRepository"/>
    </bean>
    
     <bean id="moduleRepository"
        class="xixi.router.multi.ModuleRepository" lazy-init="true">
    </bean>
    
</beans>