<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean id="loginService"
        class="xixi.testModuleA.test.LoginService" >
       <property name="accountService" ref="accountService"/>
    </bean>
    
    <bean id="accountService" factory-bean="proxyFactory" factory-method="createProxy">
       <constructor-arg value="xixi.testModuleB.test.IAccountService" />
    </bean>
    
</beans>